{% extends 'blog/base.html' %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
<div class="border p-3 mb-3">
    <div class="row">
        <div class="col-md-3 text-center">
            <div>
                <img class="img-fluid rounded-circle border m2" src="{{user.pofile.image.url}}"
                alt="{{user.username}}" style="width: 120px; height:120px;">
            </div>
            <div class="mt-3">
                <a class="btn btn-secondary bg-secondary" href="{% url 'profile_update' %}"><i class="fas fa-pen fa-xs"></i> تحرير</a>
            </div>
        </div>
        <div class="col-md-9 pt-3">
            <h2 class="mb-4">{{user.username}}</h2>
            <p class="font-weight-bold">الاسم : <span class="font-weight-normal">{{user.first_name}} {{user.last_name   }}</span></p>
            <p class="font-weight-bold">البريد الالكتروني : <span class="font-weight-normal">{{user.email}}</span></p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md">
        <h3 class="border-bottom pb-3 mb-4">عدد التدوينات التي قمت بتدوينها</h3>
        <h4 class="bg-secondary text-center p-2 text-light">{{post_list.count}}</h4>

        <h3 class="border-bottom pb-3 mb-4 mt-5">تدويناتي</h3>

        {% for post in posts %}
        <ul class="pr-4">
            <a class="text-dark" href="{% url 'detail' post.id %}">{{post.title}}</a>
        </ul>
        {% empty %}
        <h4 class="text-center">لا يوجد تدوينات</h4>
        {% endfor %}

        {% include 'blog/pagination.html' with page=posts %}
    </div>
</div>

{% endblock %} 